@page
@model AllStatesModel
@{
}

<h2>ALL STATES LIST	</h2>


<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Name</td>
			<td>Population</td>
			<td>Country ID</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.AllStates)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Population</td>
				<td>@item.CountryId</td>
			</tr>
		}
	</tbody>
</table>